

ST_AI_BRIDGE_API_KEY=
ST_AI_BRIDGE_URL=


CLIENT_APP_NAME=
API_KEY=
REMOTE_USER=
SERVICE_NAME=
PERSONA=
TEMPERATURE=0.2
MAX_RESPONSE_TOKENS=32400
RESPONSE_FORMAT=json_object
REASONING_EFFORT=high
PROXY_HTTP=
PROXY_HTTPS=